body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  body {
    font-family: "Rubik";
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  header {
    color: #fff;
    background: #3f6e37;
  }
  
  main {
    background: #32522c;
    flex-grow: 1;
  }
  
  footer {
    color: #fff;
    background: #3f6e37;
  }
  
  header,
  footer,
  main {
    padding: 2rem;
  }
  